/* Tooltip CSS */
.d3-tip {
  line-height: 1;
  padding: 12px;
  background: none repeat scroll 0 0 #ffffff;
  color: #5B6770;
  border-radius: 2px;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, .15);
  text-align: center;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #ffffff;
  content: "\25BC";
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: -10px;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.d3-tip span {
	font-weight: 500;
  color: #081F2C;
}

#selectCountry {
    font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
}
