h1 {
    padding-left: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
}

h2 {
    padding-left: 950px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

* {
  box-sizing: border-box;
}
