h1 {
    /* padding-left: 10px; */
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    padding-top: 10px;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: "black";
}

* {
  box-sizing: border-box;
}

#titleBar {
    padding-top:20px;
}

#titleMap {
    padding-top:20px;
}
